/* style/global.css */
* {
    box-sizing: border-box;
}
/* smooth scroll */
html{
    scroll-behavior: smooth;
}
/* navbar */
.nav-item {
    color: white;
    padding: 8px 16px;
    transition: all 0.3s ease;
}
.nav-item a:hover {
    color: #ffc107;
    transform: scale(1.1);
    text-shadow: 0 0 5px #ffc107, 0 0 5px #ffc107;
}
/* fade in */
.fade-in-on-scroll {
    opacity: 0;
    transform: translateY(100px);
    transition: opacity 0.8s cubic-bezier(0.4,0,0.2,1), transform 0.8s cubic-bezier(0.4,0,0.2,1);
}
.fade-in-on-scroll.visible {
    opacity: 1;
    transform: translateY(0);
}
/* footer */
#tombol-cepat a {
    color: white;
    text-decoration: none;
}
#tombol-cepat ul {
    list-style: none;
}
#tombol-cepat li {
    padding-bottom: 0.9rem;
    padding-top: 0;
}