/* home */
/* carousel */
.carousel-item{
    height: 60vh;
}
.carousel-item img{
    object-fit:cover;
    object-position: center;
    height: 100%;
    width: 100%;
    border-radius: 20px;
}
/* main section */
.parent{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 8px;
    height: 500px;
}
/* Card */
.box1{
    grid-column: span 2 / span 2;
    grid-row: span 4 / span 4;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    color: white;
}
.box2{
    grid-column: span 3 / span 3;
    grid-row: span 3 / span 3;
    grid-column-start: 3;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    color: white;
}
.box3{
    grid-column-start: 3;
    grid-row-start: 4;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    color: white;
}
.box4{
    grid-column-start: 4;
    grid-row-start: 4;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    color: white;
}
.box5{
    grid-column-start: 5;
    grid-row-start: 4;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    color: white;
}
.parent > div{
    overflow: hidden;
    transition: all 0.5s ease;
    background-color: rgba(43, 43, 43, 0.5);
}
.parent > div::before{
    content: "";
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    background: linear-gradient(
        0deg,
        transparent,
        transparent 30%,
        rgba(255, 193, 7, 0.3)
    );
    transform: rotate(-45deg);
    transition: all 0.3s ease;
    opacity: 0;
}
.parent > div:hover{
    cursor: pointer;
    box-shadow: 0 0 20px rgba(255, 193, 7, 0.5);
    transform: scale(1.05);
}
.parent > div:not(:hover){
    filter: blur(2px);
}
.parent > div:hover::before {
    opacity: 1;
    transform: rotate(-45deg) translateY(100%);
}
#tentang{
    height: 400px;
}
#koleksi{
    height: 800px;
}
.parent2{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(9, 1fr);
    gap: 8px;
    height: auto;
}
.parent2 > div{
    position: relative;
    width: 270px;
    border-radius: 10px
}
.div1 {
    grid-row: span 2 / span 2;
    background-image: url('../img/s15-pink.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    aspect-ratio: 4/3;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.div2 {
    grid-row: span 2 / span 2;
    grid-column-start: 2;
    grid-row-start: 2;
    background-image: url('../img/rwb-cocacola.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    aspect-ratio: 4/3;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.div3 {
    grid-row: span 2 / span 2;
    grid-column-start: 3;
    grid-row-start: 1;
    background-image: url('../img/bmw-sw.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.div4 {
    grid-row: span 2 / span 2;
    grid-column-start: 4;
    grid-row-start: 2;
    background-image: url('../img/s15-monalisa.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    aspect-ratio: 4/3;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.div7 {
    grid-row: span 2 / span 2;
    grid-row-start: 3;
    background-image: url('../img/collection.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    aspect-ratio: 4/3;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.div8 {
    grid-row: span 2 / span 2;
    grid-column-start: 2;
    grid-row-start: 4;
    background-image: url('../img/s15-kuma.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    aspect-ratio: 4/3;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.div9 {
    grid-row: span 2 / span 2;
    grid-column-start: 3;
    grid-row-start: 3;
    background-image: url('../img/lexus-lfa.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.div10 {
    grid-row: span 2 / span 2;
    grid-column-start: 4;
    grid-row-start: 4;
    background-image: url('../img/rwb-hoonigan.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    aspect-ratio: 4/3;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.div13 {
    grid-row: span 2 / span 2;
    grid-row-start: 5;
    background-image: url('../img/s15-garuda.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    aspect-ratio: 4/3;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.div14 {
    grid-row: span 2 / span 2;
    grid-column-start: 2;
    grid-row-start: 6;
    background-image: url('../img/karimun.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    aspect-ratio: 4/3;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.div15 {
    grid-row: span 2 / span 2;
    grid-column-start: 3;
    grid-row-start: 5;
    background-image: url('../img/lambo-countach.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.div16 {
    grid-row: span 2 / span 2;
    grid-column-start: 4;
    grid-row-start: 6;
    background-image: url('../img/bmw-m3.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    aspect-ratio: 4/3;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.div19 {
    grid-row: span 2 / span 2;
    grid-row-start: 7;
    background-image: url('../img/rx7-hec.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    aspect-ratio: 4/3;;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.div20 {
    grid-row: span 2 / span 2;
    grid-column-start: 2;
    grid-row-start: 8;
    background-image: url('../img/lambo-GT3.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    aspect-ratio: 4/3;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.div21 {
    grid-row: span 2 / span 2;
    grid-column-start: 3;
    grid-row-start: 7;
    background-image: url('../img/S15-formula-drift.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    aspect-ratio: 4/3;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.div22 {
    grid-row: span 2 / span 2;
    grid-column-start: 4;
    grid-row-start: 8;
    background-image: url('../img/fortuner-hilux.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    aspect-ratio: 4/3;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}
.kiri{
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    gap: 30px;
    border-radius: 10px;
    background-color: rgba(141, 141, 141, 0.3);
}
.kanan{
    display: flex;
    flex-direction: row-reverse;
    gap: 20px;
    align-items: center;
    gap: 30px;
    border-radius: 10px;
    background-color: rgba(141, 141, 141, 0.3);
}
.kanan{
    transition: all 0.3s ease, box-shadow 0.3s ease;
    background:  rgba(141, 141, 141, 0.3);
}
.kanan:hover{
    transform: perspective(200px) rotateX(3deg);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
}
.kiri{
    transition: all 0.3s ease, box-shadow 0.3s ease;
    background:  rgba(141, 141, 141, 0.3);
}
.kiri:hover{
    transform: perspective(200px) rotateX(3deg);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
}
